body,
html {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
  height: 100vh;
  background-color: #282828;
  color: #00ff66;
}

h1 {
  text-align: center;
  width: max-content;
  margin: auto;
}

.reply {
  margin: auto;
  width: max-content;
  height: 50%;
  display: grid;
  align-items: center;
  place-items: center;
  font-size: 2.5rem;
}

.form-section {
  display: grid;
  place-items: center;
  align-items: center;
  width: 75%;
  margin: auto;
}
form {
  width: 100%;
  text-align: center;
}
textarea {
  width: 100%;
  margin: auto;
  padding: 8px;
}

input[type="submit"] {
  display: block;
  font-size: 2rem;
  padding: 8px;
  border-radius: 15px;
  margin: auto;
}

footer {
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  text-align: center;
}
