:root {
  --background-color: #282828;
  --header-typewriter-chars: 32;
  --header-typewriter-speed: 6s;
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
  height: 100vh;
  background-color: var(--background-color);
  color: #00ff66;
}

h1 {
  text-align: center;
  width: max-content;
  margin: 1% auto;
  position: relative;
}

h1::before,
h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h1::before {
  background: var(--background-color);
  animation: typewriter var(--header-typewriter-speed)
    steps(var(--header-typewriter-chars)) 1s forwards;
}

h1::after {
  width: 0.25rem;
  background: #00ff66;
  animation: typewriter var(--header-typewriter-speed)
      steps(var(--header-typewriter-chars)) 1s forwards,
    blink 750ms steps(var(--header-typewriter-chars)) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

.reply {
  margin: auto;
  width: 95%;
  height: 50%;
  display: grid;
  place-items: center;
  align-items: center;
  font-size: 2.5rem;
  text-align: center;
}

.form-section {
  display: grid;
  place-items: center;
  align-items: center;
  width: 75%;
  margin: auto;
}
form {
  width: 100%;
  text-align: center;
}
textarea {
  width: 100%;
  margin: auto;
  padding: 8px;
}

input[type="button"] {
  display: block;
  font-size: 2rem;
  padding: 8px;
  border-radius: 15px;
  margin: auto;
}

footer {
  width: 100%;
  bottom: 0;
  left: 0;
  position: fixed;
  text-align: center;
}
