<h1>Eat It!</h1>


<!--space for burgers-->
<!--not eaten-->
<h2>That looks tasty!</h2>

{{#each index}}
<p>{{name}}
    <button class="eat-burger" data-id="{{this.id}}">
        EAT IT!!
    </button>
</p>
{{/each}}


<!--eaten-->
<h2>That was goooood!</h2>



<h2>Add a burger!</h2>
<form class="create-form">
    <div class="form-group">
        <label for="burger">Order a Burger:</label>
        <input type="text" id="burger" name="name">
    </div>

    <button type="submit">Add It!!</button>

</form>